<ul class="g3w-tools treeview-menu">
  <li v-for="group in state.toolsGroups">
    <div class="tool-header">
      <i class="fa fa-gear"></i>
      <span style="">{{ group.name }}</span>
    </div>
    <div :id="group.name + '-tools'" class="tool-box">
      <template v-for="tool in group.tools">
        <div v-if="tool.type == 'checkbox' " class="checkbox">
          <label>
            <input style="cursor:pointer" :id="tool.layerName" v-model="tool.isCheck" type="checkbox" :value="tool.layerName" @click="fireAction(tool.actionId)">{{ tool.name }}
          </label>
        </div>
        <div v-else class="tool" @click="fireAction(tool.actionId)">
          <i class="fa fa-caret-right"></i>
          <span >{{ tool.name }}</span>
        </div>
      </template>
    </div>
  </li>
</ul>

