<!-- item template -->
<div id="catalog" class="tabbable-panel catalog">
  <!--<div class="title">{{ title }}</div>-->
  <div class="tabbable-line">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active" :style="{width: hasBaseLayers ? '32%' : '48%'}"><a href="#tree" aria-controls="tree" role="tab" data-toggle="tab" data-i18n="tree">Data</a></li>
      <li v-if="hasBaseLayers" role="presentation" style="width: 32%"><a href="#baselayers" aria-controls="baselayers" role="tab" data-toggle="tab" data-i18n="baselayers">Layer Base</a></li>
      <li role="presentation" :style="{width: hasBaseLayers ? '32%' : '48%'}"><a href="#legend" aria-controls="legend" role="tab" data-toggle="tab" data-i18n="legend">Legenda</a></li>
    </ul>
    <div  class="tab-content">
      <div role="tabpanel" class="tab-pane active tree" id="tree">
        <ul class="tree-root">
          <tristate-tree  :highlightlayers="state.highlightlayers" :layerstree="layerstree" class="item" v-for="layerstree in layerstree" :key="layerstree.id">
          </tristate-tree>
          <tristate-tree  :externallayers="state.externallayers" :layerstree="layerstree" class="item" v-for="layerstree in state.externallayers" :key="layerstree.id">
          </tristate-tree>
        </ul>
      </div>
      <div v-if="hasBaseLayers" role="tabpanel" class="tab-pane baselayers" id="baselayers">
        <form>
          <ul>
            <li v-if="!baselayer.fixed" v-for="baselayer in baselayers">
              <div class="radio">
                <label><input type="radio" name="baselayer" v-checked="baselayer.visible" @click="setBaseLayer(baselayer.id)">{{ baselayer.title }}</label>
              </div>
            </li>
          </ul>
        </form>
      </div>
      <layerslegend :layerstree="layerstree"></layerslegend>
    </div>
  </div>
  <ul id="layer-menu" v-click-outside-layer-menu="closeLayerMenu"  tabindex="-1" v-if="layerMenu.show"  :style="{top: layerMenu.top + 'px', left: layerMenu.left + 'px' }">
    <li @click.prevent.stop="zoomToLayer"> Zoom to Layer</li>
    <li @click.prevent.stop="" v-if="layerMenu.layer.external" style="padding:5px">
      <chrome-picker  v-model="layerMenu.layer.color" @change-color="onChangeColor" style="width: 100%"></chrome-picker>
    </li>
  </ul>
</div>
