<!-- item template -->
<div id="catalog" @contextmenu.prevent.stop="" class="tabbable-panel catalog">
  <div class="tabbable-line">
    <ul class="nav nav-tabs catalalog-nav-tabs" role="tablist">
      <li v-if="hasLayers" role="presentation"  :class="{ active: hasLayers }" :style="{width: hasBaseLayers ? '32%' : '48%'}"><a href="#tree" aria-controls="tree" role="tab" data-toggle="tab" data-i18n="tree" v-t="'data'"></a></li>
      <li v-if="hasBaseLayers" role="presentation" :class="{ active: !hasLayers }" :style="{width: !hasLayers ? '100%' : '32%'}"><a href="#baselayers" aria-controls="baselayers" role="tab" data-toggle="tab" data-i18n="baselayers" v-t="'baselayers'"></a></li>
      <li v-if="showlegend" role="presentation" :style="{width: hasBaseLayers ? '32%' : '48%'}"><a href="#legend" aria-controls="legend" role="tab" data-toggle="tab" data-i18n="legend" v-t="'legend'"></a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" :class="{ active: hasLayers }" id="tree">
        <div id="toc_layer_help_text" v-t="'catalog_items.helptext'">
          <span class="info_helptext_button">i</span>
        </div>
        <ul class="tree-root" v-for="_layerstree in state.layerstrees">
          <tristate-tree
            :highlightlayers="state.highlightlayers"
            :layerstree="layerstree"
            class="item"
            :parentFolder="false"
            :root="true"
            :parent_mutually_exclusive="false"
            v-for="layerstree in _layerstree.tree"
            :storeid="_layerstree.storeid"
            :key="layerstree.id">
          </tristate-tree>
        </ul>
        <ul>
          <tristate-tree  :externallayers="state.externallayers" :layerstree="layerstree" class="item" v-for="layerstree in state.externallayers" :key="layerstree.id">
          </tristate-tree>
        </ul>
        <ul v-for="layersgroup in state.layersgroups">
          <layers-group :layersgroup="layersgroup"></layers-group>
        </ul>
      </div>
      <div class="tab-pane baselayers nano-content" v-if="hasBaseLayers" role="tabpanel"  :class="{ active: !hasLayers }" id="baselayers">
        <ul>
          <li v-if="!baselayer.fixed" v-for="baselayer in baselayers">
            <img :src="getSrcBaseLayerImage(baselayer.name)" @click.stop="setBaseLayer(baselayer.id)" class="img-responsive img-thumbnail" :style="{opacity: baselayer.visible ? 1 : 0.5}" >
            <div class="text-center">{{ baselayer.title }}</div>
          <li @click.stop="setBaseLayer(null)">
            <img :src="getSrcBaseLayerImage(null)" class="img-responsive img-thumbnail" :style="{opacity: !hasBaseLayersVisible ? 1 : 0.5}">
            <div class="text-center" v-t="'nobaselayer'"></div>
          </li>
        </ul>
      </div>
      <layerslegend @showlegend="showLegend" v-for="_layerstree in state.layerstrees" :layerstree="_layerstree" :key="_layerstree.id"></layerslegend>
    </div>
  </div>
  <ul id="layer-menu" v-click-outside-layer-menu="closeLayerMenu"  tabindex="-1" v-if="layerMenu.show"  :style="{top: layerMenu.top + 'px', left: layerMenu.left + 'px' }">
    <li v-if="layerMenu.layer.bbox" @click.prevent.stop="zoomToLayer">
      <span :class="g3wtemplate.getFontClass('search')"></span>
      {{ layerMenu.items.zoomtolayer }}
    </li>
    <li v-if="layerMenu.layer.openattributetable" @click.prevent.stop="showAttributeTable(layerMenu.layer.id)">
      <span :class="g3wtemplate.getFontClass('list')"> </span>  {{ layerMenu.items.open_attribute_table }}
      <i v-show="layerMenu.loading_data_table" :class="g3wtemplate.getFontClass('spinner')" style="margin-left:3px;">
      </i>
    </li>
    <li @click.prevent.stop="" v-if="layerMenu.layer.external" @mouseleave.self="showColorMenu(false,$event)" @mouseover.self="showColorMenu(true,$event)"> Setta/Cambia Colore <i :class="g3wtemplate.getFontClass('arrow-right')" style="padding-left:10px;" aria-hidden="true"></i>
      <ul v-if="layerMenu.colorMenu.show" style="position:fixed" :style="{ top: layerMenu.colorMenu.top + 'px', left: layerMenu.colorMenu.left +   'px' }">
        <li style="padding:0;">
          <chrome-picker
            @click.prevent.stop=""
            v-model="layerMenu.colorMenu.color"
            @change-color="onChangeColor"
            style="width: 100%">
          </chrome-picker>
        </li>
      </ul>
    </li>
  </ul>
</div>
