<li class="tree-item"  @click="select" :class="{selected: layerstree.selected }">
  <span :class="{bold: isFolder, 'fa-chevron-down': layerstree.expanded, 'fa-chevron-right': !layerstree.expanded}" @click="toggle" v-if="isFolder" class="root fa"></span>
  <span v-if="isFolder" @click.stop="toggle('true')" :class="[triClass()]" class="fa"></span>
  <span v-else @click.stop="toggle" :class="[layerstree.visible  ? 'fa-check-square-o': 'fa-square-o',layerstree.disabled  ? 'disabled': '',  parentFolder ? 'child' : 'root' ]" class="fa"></span>
  <span id="tree-node-title" :class="{bold: isFolder, disabled: layerstree.disabled, highlightlayer: isHighLight }"> {{ layerstree.title }} </span>
  <ul v-show="layerstree.expanded" v-if="isFolder">
    <tristate-tree :parentFolder="isFolder" :n_parent-childs="n_parentChilds" :layerstree="layerstree" v-for="layerstree in layerstree.nodes">
    </tristate-tree>
  </ul>
</li>




