<li
  class="tree-item"
  @contextmenu.prevent.stop="showLayerMenu(layerstree, $event)"
  @click="select()"
  :class="{selected: !isFolder || !isTable ? layerstree.selected : false, itemmarginbottom: !isFolder }">

  <span v-if="isFolder"
    :class="{bold: isFolder, 'fa-chevron-down': layerstree.expanded, 'fa-chevron-right': !layerstree.expanded}"
    @click="expandCollapse"
    class="root fa">
  </span>

  <span v-if="isFolder"
    @click.stop="toggle(true)"
    :class="[triClass()]"
    class="fa">
  </span>
  <span v-else-if="isTable"
        v-show="!layerstree.hidden"
        :class="[parentFolder ? 'child' : 'root' ]"
        class='fa fa-table'>
  </span>
  <span v-else
    v-show="!layerstree.hidden"
    @click.stop="!layerstree.uncheckable ? toggle(false) : null"
    :class="[layerstree.visible  ? 'fa-check-square-o': 'fa-square-o',layerstree.disabled  ? 'disabled': '',  parentFolder ? 'child' : 'root' ]"
    class="fa checkbox-layer">
  </span>

  <span v-show="!layerstree.hidden || isFolder"
    class="tree-node-title"
    :class="{'bold': isFolder, 'disabled': layerstree.disabled, 'highlightlayer': isHighLight }"> {{ layerstree.title }}
  </span>

  <i v-if="layerstree.external"
    class="glyphicon glyphicon glyphicon-trash link trash pull-right"
    @click="removeExternalLayer(layerstree.name)">
  </i>

  <ul v-if="isFolder" v-show="layerstree.expanded">
    <tristate-tree
      :root="false"
      :highlightlayers="highlightlayers"
      :parentFolder="isFolder"
      :n_visible-childs="n_visibleChilds"
      :layerstree="_layerstree"
      :storeid="storeid"
      :parent="layerstree"
      :parent_mutually_exclusive="!!layerstree.mutually_exclusive"
      v-for="_layerstree in layerstree.nodes" :key="layerstree.id">
    </tristate-tree>
  </ul>

</li>
