<li
  class="tree-item"
  @contextmenu.prevent.stop="showLayerMenu(layerstree, $event)"
  @click="select()"
  :class="{selected: !isFolder || !isTable ? layerstree.selected : false, itemmarginbottom: !isFolder }">

  <span v-if="isFolder"
    :class="[{bold : isFolder}, layerstree.expanded ? g3wtemplate.getFontClass('arrow-down') : g3wtemplate.getFontClass('arrow-right')]"
    @click="expandCollapse"
    class="root">
  </span>

  <span v-if="isFolder"
    @click.stop="toggle(true)"
    :class="[triClass()]">
  </span>
  <span v-else-if="isTable"
        v-show="!layerstree.hidden"
        :class="[parentFolder ? 'child' : 'root', g3wtemplate.getFontClass('table')]">
  </span>
  <template v-else>
    <span style="color: red" v-if="layerstree.external && layerstree.removable"
          :class="g3wtemplate.getFontClass('trash')"
          @click="removeExternalLayer(layerstree.name)">
    </span>
    <span v-show="!layerstree.hidden"
      @click.stop="!layerstree.uncheckable ? toggle(false) : null"
      :class="[layerstree.visible  ? g3wtemplate.getFontClass('check'): g3wtemplate.getFontClass('uncheck'), layerstree.disabled  ? 'disabled': '',  parentFolder ? 'child' : 'root' ]"
      class="checkbox-layer"></span>
  </template>

  <span v-show="!layerstree.hidden || isFolder"
    class="tree-node-title"
    :class="{'bold': isFolder, 'disabled': layerstree.disabled, 'highlightlayer': isHighLight }"> {{ layerstree.title }}
  </span>

  <ul v-if="isFolder" v-show="layerstree.expanded">
    <tristate-tree
      :root="false"
      :highlightlayers="highlightlayers"
      :parentFolder="isFolder"
      :n_visible-childs="n_visibleChilds"
      :layerstree="_layerstree"
      :storeid="storeid"
      :parent="layerstree"
      :parent_mutually_exclusive="!!layerstree.mutually_exclusive"
      v-for="_layerstree in layerstree.nodes" :key="layerstree.id">
    </tristate-tree>
  </ul>
</li>
