<div class="query-relations">
  <div class="nano">
    <div class="nano-content">
      <div class="header">
        <div>Elenco Relazioni della feature <span v-for="info in featureInfo()"><b>{{ info.key }}</b>: {{ info.value }} </span></div>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
        </thead>
        <tbody>
        <tr @click="showRelation(relation)" v-for="relation in relations" style="cursor:pointer">
          <td>
            <span >{{ relation.name }}</span>
            <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
