<div class="query-relation">
  <div v-if="!one" class="back-btn" @click="back">
    <span class="back-link">
      <span :class="g3wtemplate.getFontClass('arrow-left')" v-t="'back_to_relations'"></span>
    </span>
  </div>
  <div class="header">
    <div>
      <span v-t="'relation_data'"></span> <b>{{ relation.name }}</b>
    </div>
  </div>
  <div class="nano" v-if="table.rows.length">
    <div class="nano-content">
      <table id="relationtable" class="table table-striped" width="100%">
        <thead>
          <tr>
            <th v-for="column in table.columns">{{ column }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in table.rows">
            <td v-for="value in row">
              <p v-if="is('simple',value)"> {{ value }}</p>
              <a v-else="is('link',value)" :href="value"  style="display: block; width: 100%;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis" target="_blank"><i :class="g3wtemplate.getFontClass('link')"></i></a>
            </td>
          </tr>
        </tbody>
        </table>
    </div>
  </div>
  <div v-else v-t="'no_relations_found'"></div>
</div>
