<div class="g3w-form-component_body nano">
  <form class="form-horizontal g3w-form nano-content">
    <div class="box box-primary">
      <div class="box-body">
        <component v-for="(field, index) in state.fields" v-if="reloadLayout(index)"
          @changeinput="changeInput"
          @addinput="addToValidate"
          @datetimepickershow="scrollBar"
          :state="field"
          :is="getInputComponent(field)">
        </component>
        <span class="divider"></span>
      </div>
    </div>
  </form>
</div>
