<div class="g3w-search-panel form-group">
  <h4><b>{{ title }}</b></h4>
  <form id="g3w-search-form">
    <template v-for="(forminput, index) in forminputs">
      <div v-if="forminput.input.type == 'numberfield'" class="form-group numeric">
        <label :for="forminput.id + ' '">{{ forminput.label }}</label>
        <input type="number" v-model="formInputValues[index].value" class="form-control" :id="index">
      </div>
      <div v-if="forminput.input.type == 'textfield' || forminput.input.type == 'textField'" class="form-group text">
        <label :for="forminput.id">{{ forminput.label }}</label>
        <input type="text" v-model="formInputValues[index].value" class="form-control" :id="index">
      </div>
      <div v-if="forminput.input.type == 'selectfield'" class="form-group text">
        <label :for="forminput.id">{{ forminput.label }}</label>
        <select v-model="formInputValues[index].value" class="form-control" :id="index">
          <option v-if="" :value="value" v-for="value in forminput.input.options.values">
            <span v-if="value == ''">ALL</span>
            <span v-else>{{ value }}</span>
          </option>
        </select>
      </div>
    </template>
    <div class="form-group">
      <button id="dosearch" class="btn btn-block pull-right" @click="doSearch($event)" data-i18n="dosearch">Search</button>
    </div>
  </form>
</div>
