<div class="form-group has-feedback">
  <slot name="inputlabel">
    <label :for="state.name" class="col-sm-4 control-label">{{ state.label }}
      <span v-if="state.validate && state.validate.required">*</span>
    </label>
  </slot>
  <div class="col-sm-8">
    <slot name="inputelement">
      <input
        @keyup="change()"
        v-disabled="!isEditable()"
        :field="state.name"
        class="form-control"
        v-model="state.value"
        :class="{'input-error-validation' : !state.validate.valid}"
        :id="state.name"
        :placeholder="state.input.label">
    </slot>
    <p class="error-input-message">{{ state.validate.message }}</p>
  </div>
</div>