<div class="g3w-panel form-group">
  <h4><b>{{ state.title }}</b></h4>
  <form id="g3w-wps-form" class="g3w-panel-form">
    <bar-loader :loading="state.loading"></bar-loader>
    <div class="form-group" v-if="!state.error" style="background-color: #2c3b41; padding: 5px; display: flex; flex-direction: column">
      <div id="processes" class="sidebar-divider">
        <h4><b v-t="'sdk.wps.list_process'"></b></h4>
        <select id="wps_processes" style="width: 100%; font-weight: bold">
          <option v-for="process in state.processes" :value="process.identifier" :key="process.identifier">
            {{ process.title }}
          </option>
        </select>
        <div class="abstract" style="padding: 3px;">{{ currentProcessForm.abstract }}</div>
      </div>
      <div class="inputdata sidebar-divider" style="padding:3px; ">
        <h4 style="font-weight: bold">Inputs</h4>
        <template v-for="input in currentInputs" :key="input.id">
          <p style="margin-bottom: 3px; margin-top: 3px;">[ {{ input.id }} ]</p>
          <label :for="input.id">{{ input.label }}</label>
          <input v-if="input.type==='float' || input.type==='number'" :type="input.type ==='float' ? 'number' : ''" class="form-control" :id="input.id" v-model="input.value" min="0">
          <div v-else-if="showPickCoordinate && input.id === pickcoordinateinputs[0]"  style="margin-top: 5px; margin-bottom: 5px; text-align: center">
            <button @click.prevent="pickCoordinate" class="btn skin-background-color btn-circle skin-tooltip-left" :title="pickcoordinates_tooltip" id="pickcoordinates" data-placement="left" data-toggle="tooltip">
              <i :class="g3wtemplate.getFontClass('marker')"></i></button>
          </div>
          <div v-else-if="input.type ==='file'" @click="openInputFile(input.id)" class="g3w_input_button skin-background-color" style="width:100%; cursor: pointer; text-align: center">
            <i :class="g3wtemplate.getFontClass('file-upload')" class="fa-2x" style="padding: 3px;">
              <input style="display: none" type="file" :id="input.id" name="file"  :accept="input.options.mimetype" @change="loadFile({input, event:$event})">
            </i>
          </div>
          <template v-else-if="input.type ==='bbox'">
            <select :id="input.id"  style="width:100%">
              <option v-for="epsg in input.options.epsg" :value="epsg" :key="epsg">{{ epsg }}</option>
            </select>
            <label :for="`bbox_${input.id}`">BBOX [LLX LLY UPX URY]</label>
            <div :id="`bbox_${input.id}`" style="display: flex; width: 100%">
              <input class="form-control" type="number" v-model='input.value.llx'>
              <input class="form-control" type="number" v-model='input.value.lly'>
              <input class="form-control" type="number" v-model='input.value.upx'>
              <input class="form-control" type="number" v-model='input.value.upy'>
            </div>

          </template>
        </template>
      </div >
      <div class="processoutputdata" class="sidebar-divider">
        <h4 style="font-weight: bold">Complex Output(s)</h4>
        <template v-for="output in currentProcessForm.outputs" :key="output.id">
          <p style="margin-bottom: 3px; margin-top: 3px;">[ {{ output.id }} ]</p>
          <label>{{ output.label}}</label>
          <p style="margin-bottom: 3px">{{ output.sublabel }}</p>
          <p style="margin-bottom: 3px">{{ output.type }}</p>

        </template>
      </div>
      <button class="run_button btn btn-block pull-right skin-background-color" @click.stop="run" :disabled="disabled">Run</button>
    </div>
    <div v-else>
      errore
    </div>
  </form>
  <slot name="footer"></slot>
</div>
