<div class="g3w-panel form-group">
  <h4><b>{{ state.title }}</b></h4>
  <form id="g3w-wps-form" class="g3w-panel-form">
    <bar-loader :loading="state.loading"></bar-loader>
    <div class="form-group" v-if="!state.error" style="background-color: #2c3b41; padding: 5px;">
      <h5><b v-t="'sdk.wps.list_process'"></b></h5>
      <select id="wps_processes" style="width: 100%; font-weight: bold">
        <option v-for="theprocess in state.process" :value="theprocess.id" :key="theprocess.id">{{ theprocess.name }}</option>
      </select>
      <div class="abstract">{{ currentProcessForm.abstract }}</div>
      <div class="inputdata" style="padding:3px; ">
        <h5 style="font-weight: bold">Inputs</h5>
        <template v-for="input in currentProcessForm.inputs" :key="input.id">
          <label :for="input.id">{{ input.label }}</label>
          <input class="form-control" :id="input.id" v-if="input.type ==='string'" v-model="input.value">
          <input class="form-control" :id="input.id" type="number" v-else-if="input.type ==='integer'" v-model="input.value">
        </template>
      </div>
      <div class="processoutputdata">
        <h5 style="font-weight: bold">Outputs</h5>
        <template v-for="output in currentProcessForm.outputs" :key="output.id">
          <label>{{ output.label}}</label>
        </template>
      </div>
      <button class="run_button btn btn-block pull-right" @click.stop="run" :disabled="disabled">Run</button>
    </div>
    <div v-else>
      errore
    </div>
  </form>
  <slot name="footer"></slot>
</div>
