<div id="open_attribute_table" class="g3w-editing-table">
  <b style="color:#3f8dbc">{{ state.title }}</b>
  <table class="table table-striped display">
    <thead>
    <tr>
      <th v-for="header in state.headers">{{ header.label }}</th>
    </tr>
    </thead>
    <tbody>
    <tr :id="'open_table_row_' + index"  v-for="(feature, index) in state.features" @mouseenter="zoomAndHighLightSelectedFeature(feature, false)" @click="zoomAndHighLightSelectedFeature(feature)" style="cursor: pointer">
      <template v-for="header in state.headers">
        <td v-if="feature.attributes"> {{ feature.attributes[header.name] }} </td>
        <td v-else> {{ feature.properties[header.name] }} </td>
      </template>
    </tr>
    </tbody>
  </table>
</div>
