<div id="search-results" class="queryresults-wrapper ">
  <bar-loader :loading="state.loading"></bar-loader>
  <div class="queryresults-container">
    <template v-if="!state.loading">
      <ul v-if="hasLayers" class="queryresults" id="queryresults" style="position: relative">
        <li v-if="layerHasFeatures(layer) && layer.show" v-for="layer in state.layers">
          <div class="box box-primary">
            <div class="box-header with-border" data-widget="collapse">
              <div class="box-title query-layer-title">{{ layer.title }} <span class="query-layer-feature-count">({{layer.features.length}})</span></div>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="btn-collapser" :class="g3wtemplate.font['minus']"></i></button>
              </div>
            </div>
            <div class="box-body">
              <template v-if="hasFormStructure(layer)">
                <table class="table">
                  <thead>
                    <tr>
                      <th v-for="n in state.layersactions[layer.id]" :style="{ width:headerExpandActionCellWidth + '%' }"></th>
                      <th v-for="(attribute, index) in attributesSubset(layer.attributes)">{{attribute.label}}</th>
                      <th v-show="!hasOneLayerAndOneFeature"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <template v-if="feature.show" v-for="feature in layer.features">
                      <tr @click="toggleFeatureBoxAndZoom(layer,feature)" @mouseover="trigger('highlightgeometry',layer,feature)" @mouseout="trigger('clearHighlightGeometry')" class="featurebox-header" :class="[collapsedFeatureBox(layer,feature) ? '' : 'featurebox-header-open']">
                        <td @click.stop="trigger(action.id,layer,feature)" v-for="action in state.layersactions[layer.id]">
                          <span  class="action-button" data-placement="top" data-toggle="tooltip" :title="action.hint">
                            <span :class="'action-button-icon ' + action.class"></span>
                          </span>
                        </td>
                        <td style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" v-for="attribute in attributesSubset(layer.attributes)">
                          <span>{{feature.attributes[attribute.name]}}</span>
                        </td>
                        <td class="action-cell right">
                          <span v-if="!hasOneLayerAndOneFeature" class="fa link morelink" :class="[collapsedFeatureBox(layer,feature) ? g3wtemplate.font['plus'] : g3wtemplate.font['minus']]"></span>
                          <span v-else></span>
                        </td>
                      </tr>
                      <tr v-if="!collapsedFeatureBox(layer,feature) || hasOneLayerAndOneFeature" class="featurebox-body">
                        <td :colspan="attributesSubsetLength(layer.attributes)+state.layersactions[layer.id].length+(state.layersactions[layer.id].length ? 1 : 0)">
                          <tabs :fields="getQueryFields(layer, feature)" :tabs="layer.formStructure.structure"></tabs>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </template>
              <table v-else class="table">
                <thead>
                  <tr>
                    <th v-for="n in state.layersactions[layer.id]" :style="{ width:headerExpandActionCellWidth + '%' }"></th>
                    <th v-for="(attribute, index) in attributesSubset(layer.attributes)">{{attribute.label}}</th>
                    <th v-if="!hasOneLayerAndOneFeature"></th>
                  </tr>
                </thead>
                <tbody>
                <template v-if="feature.show" v-for="feature in layer.features">
                  <tr @click="toggleFeatureBoxAndZoom(layer,feature)" @mouseover="trigger('highlightgeometry',layer,feature)" @mouseout="trigger('clearHighlightGeometry')" class="featurebox-header" :class="[collapsedFeatureBox(layer,feature) ? '' : 'featurebox-header-open']">
                    <td @click.stop="trigger(action.id,layer,feature)" v-for="action in state.layersactions[layer.id]">
                      <span class="action-button" data-placement="top" data-toggle="tooltip" :title="action.hint">
                        <span :class="'action-button-icon ' + action.class"></span>
                      </span>
                    </td>
                    <td style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" v-for="attribute in attributesSubset(layer.attributes)">
                      <span>{{feature.attributes[attribute.name]}}</span>
                    </td>
                    <td class="action-cell right">
                      <span v-if="!hasOneLayerAndOneFeature"  class="fa link morelink" :class="[collapsedFeatureBox(layer,feature) ? g3wtemplate.font['plus'] : g3wtemplate.font['minus']]"></span>
                      <span v-else></span>
                    </td>
                  </tr>
                  <tr v-if="!collapsedFeatureBox(layer,feature) || hasOneLayerAndOneFeature" class="featurebox-body">
                    <td :colspan="attributesSubsetLength(layer.attributes)+state.layersactions[layer.id].length+(state.layersactions[layer.id].length ? 1 : 0)">
                      <table class="feature_attributes">
                        <tr v-for="attribute in layer.attributes">
                          <td class="attr-label">{{ attribute.label }}</td>
                          <td class="attr-value" :attribute="attribute.name">
                            <span v-if="is('simple',layer,attribute.name,feature.attributes[attribute.name])">{{feature.attributes[attribute.name]}}</span>
                            <g3w-image v-else-if="is('photo',layer,attribute.name,feature.attributes[attribute.name])"  :value="feature.attributes[attribute.name]"></g3w-image>
                            <g3w-image v-else-if="checkField('image', attribute.label, layer.attributes)"  :value="attribute.value"></g3w-image>
                            <button v-else-if="is('link',layer,attribute.name,feature.attributes[attribute.name])"  class="btn btn-info" style="margin:5px"  @click="openLink(feature.attributes[attribute.name].value)">{{ openlink }}</button>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
        </li>
        <li v-for="component in state.components">
          <component @showresults="showResults()" :is="component"></component>
        </li>
      </ul>
      <h4 v-if="!hasResults">{{ noresultmessage }}</h4>
    </template>
  </div>
</div>

