<div id="search-results" class="queryresults-wrapper">
  <div v-show="state.loading" class="bar-loader"></div>
  <div class="queryresults-container">
    <template v-if="!state.loading">
      <ul v-if="hasLayers" class="queryresults" id="queryresults" style="position: relative">
        <li v-if="layerHasFeatures(layer) && layer.show" v-for="layer in state.layers">
          <div class="box box-primary">
            <div class="box-header with-border" data-widget="collapse">
              <h3 class="box-title">{{ layer.title }} ({{layer.features.length}})</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i :class="g3wtemplate.getFontClass('minus')" class="btn-collapser"></i></button>
              </div>
            </div>
            <div class="box-body">
              <table class="table">
                <thead>
                <tr>
                  <th v-for="n in state.layersactions[layer.id]" :style="{ width:headerExpandActionCellWidth + '%' }"></th>
                  <th v-for="(attribute, index) in attributesSubset(layer.attributes)">{{attribute.label}}</th>
                  <th v-if="!hasOneLayerAndOneFeature"></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="feature.show" v-for="feature in layer.features">
                  <tr @click="toggleFeatureBoxAndZoom(layer,feature);" @mouseover="trigger('highlightgeometry',layer,feature)" @mouseout="trigger('clearHighlightGeometry')" class="featurebox-header" :class="[collapsedFeatureBox(layer,feature) ? '' : 'featurebox-header-open']">
                    <td v-for="action in state.layersactions[layer.id]">
                      <span @click.stop="trigger(action.id,layer,feature)"  class="action-button" data-placement="top">
                        <i class="action-button-icon" :class="action.class"></i>
                      </span>
                    </td>
                    <td v-for="attribute in attributesSubset(layer.attributes)">
                      <span>{{feature.attributes[attribute.name]}}</span>
                    </td>
                    <td class="action-cell">
                      <span v-if="!hasOneLayerAndOneFeature" class="fa link morelink" :class="[collapsedFeatureBox(layer,feature) ? g3wtemplate.getFontClass('plus') : g3wtemplate.getFontClass('minus')]"></span>
                      <span v-else></span>
                    </td>
                  </tr>
                  <tr v-show="!collapsedFeatureBox(layer,feature) || hasOneLayerAndOneFeature" class="featurebox-body">
                    <td :colspan="attributesSubsetLength(layer.attributes)+state.layersactions[layer.id].length+(state.layersactions[layer.id].length ? 1 : 0)">
                      <table class="feature_attributes">
                        <tr v-for="attribute in layer.attributes">
                          <td class="attr-label">{{ attribute.label }}</td>
                          <!--aggiungo un attributo attribute per fare delle selzioni mirate per i plugin</td>-->
                          <td class="attr-value" :attribute="attribute.name">
                            <span v-if="is('simple',layer,attribute.name,feature.attributes[attribute.name])">{{feature.attributes[attribute.name]}}</span>
                            <g3w-image v-else-if="is('photo',layer,attribute.name,feature.attributes[attribute.name])"  :value="feature.attributes[attribute.name]"></g3w-image>
                            <g3w-image v-else-if="checkField('image', attribute.label, layer.attributes)"  :value="attribute.value"></g3w-image>
                            <button v-else-if="is('link',layer,attribute.name,feature.attributes[attribute.name])"  class="btn btn-info" style="margin:5px"  @click="openLink(feature.attributes[attribute.name])">{{ openlink }}</button>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr v-show="collapsedFeatureBox(layer,feature) && feature.attributes.relations">
                    <td :colspan="attributesSubsetLength(layer.attributes)+2">
                      <!--Relazioni-->
                      <div class="queryresults-container">
                        <ul class="queryresults" id="relations">
                          <template v-for="relation in feature.attributes.relations">
                            <li>
                              <div class="box box-solid box-default relationsbox collapsed-box">
                                <div class="box-header with-border" data-widget="collapse">
                                  <h3 class="box-title">{{ relation.name }} ({{ relation.elements.length }})</h3>
                                  <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i :class="g3wtemplate.getFontClass('plus')" class="btn-collapser"></i></button>
                                  </div>
                                </div>
                                <div class="box-body">
                                  <template v-for="(element, index) in relation.elements">
                                    <table class="table table-striped">
                                      <thead>
                                      <tr>
                                        <th v-for="attribute in relationsAttributesSubset(element)">
                                          {{attribute.label}}
                                        </th>
                                        <th></th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr @click="toggleFeatureBox(layer, feature, relation.name+index)"  class="featurebox-header">
                                        <td v-for="attribute in relationsAttributesSubset(element)">
                                          <span>{{attribute.value}}</span>
                                        </td>
                                        <td class="action-cell text-center">
                                          <span class="fa link morelink" :class="[collapsedFeatureBox(layer, feature, relation.name+index) ? 'fa-minus' : 'fa-plus']" style="text-align: right"></span>
                                        </td>
                                      </tr>
                                      <tr v-show="collapsedFeatureBox(layer, feature, relation.name+index)" class="featurebox-body">
                                        <td :colspan="relationsAttributesSubsetLength(element)+1">
                                          <table>
                                            <tr v-for="relattribute in relationsAttributes(element)">
                                              <td class="attr-label">{{relattribute.label}}</td>
                                              <!--<td class="attr-value">{{attribute.value}}</td>-->
                                              <td class="attr-value">
                                                <div v-if="isArray(relattribute.value)" v-for="value in relattribute.value">
                                                  <div v-for="(value, label) in value">
                                                    <span>{{ label }}</span><span class="pull-right">{{ value }}</span>
                                                  </div>
                                                  <span class="divider"></span>
                                                </div>
                                                <span v-if="is('simple',layer,relattribute.name, relattribute.value)"> {{ relattribute.value }}</span>
                                                <img v-if="is('photo',layer,relattribute.name, relattribute.value)"  class="photo-preview img-responsive img-thumbnail" title="Clicca per allargare"  @click="showFullPhoto(isRelativePath(relattribute.value))" :src="isRelativePath(relattribute.value)">
                                                <img v-else-if="checkField('image', relattribute.label, relattribute.value)"  class="photo-preview img-responsive img-thumbnail" title="Clicca per allargare"  @click="showFullPhoto(isRelativePath(relattribute.value))" :src="isRelativePath(relattribute.value)">
                                                <button v-if="is('link', layer, relattribute.name, relattribute.value)"  class="btn btn-info" style="margin:5px"  @click="openLink(relattribute.value)">{{ openlink }}</button>
                                                <a v-else-if="is('photolink',layer, relattribute.name, relattribute.value)" :href="relattribute.value" target="_blank">
                                                  <img :class="g3wtemplate.getImageClass({type:'responsive'})" class="img-thumbnail" :src="relattribute.value">
                                                </a>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </template>
                                </div>
                              </div>
                            </li>
                          </template>
                        </ul>
                      </div>
                      <!--Fine Relazioni-->
                    </td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
        </li>
        <li v-for="component in state.components">
          <component @showresults="showResults()" :is="component"></component>
        </li>
      </ul>
      <h4 v-if="!hasResults">{{ noresultmessage }}</h4>
    </template>
  </div>
</div>

